{% extends "home.html" %}

{% block left %}
  <div class="col-lg-10 thread-submit-box">

<form method="POST" action="." >

{% for group, group_set in form.subs|groupby('sub_group.data') %}
<h2>{{ group }}</h2>
{{ form.csrf_token }}
{% for sub in group_set %}
    {{ sub.csrf_token }}
    {{ sub.sub_name }}
    {{ sub.sub_group }}
    {{ sub.value }}
    <label for='{{ sub.value.name }}'>{{ sub.sub_name.data }}</label><br />
    
{% endfor %}
{% endfor %}

<button type="submit" value="Submit" class="btn btn-primary">Submit</button>

</form>

  </div>
{% endblock %}

