{% extends "home.html" %}

{% block left %}
<div class="col-lg-10 thread-submit-box">

{% if form %}
<p>
    Subs are topics you can subscribe to. Subscribing will make the Sub link available in your sidebar and aggregate its content on the <a href="{{ url_for('frontends.home') }}">frontpage</a>. Send suggestions for new subs to <a href='mailto:admin@upvote.pub'>admin@upvote.pub</a>.
</p>
<form method="POST" action="." >
{% for group, group_set in form.subs|groupby('sub_group.data') %}
<h2>{{ group }}</h2>
{{ form.csrf_token }}
<div class='sub_group'>
    {% for sub in group_set %}
        {{ sub.csrf_token }}
        {{ sub.sub_name }}
        {{ sub.sub_group }}
        {{ sub.value }}
        <label for='{{ sub.value.name }}'>{{ sub.sub_name.data }} - <a href="{{ url_for('subreddits.permalink', subreddit_name=sub.sub_name.data) }}">View</a></label><br />
    {% endfor %}
</div>
{% endfor %}
<br />
<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
{% else %}


{% for group, group_set in subreddit_list|groupby('group') %}
<h2>{{ group }}</h2>
<div class='sub_group'>
    {% for sub in group_set %}
    <a href="{{ url_for('subreddits.permalink', subreddit_name=sub.name) }}">{{ sub.name }}</a><br />
    {% endfor %}
</div>
{% endfor %}


{% endif %}

  </div>
{% endblock %}

