{% extends "base.html" %}

{% block content %}
<div class="col-md-9 col-sm-9">
    {% if page_title %}

              {% if num_searches is defined %}
                <p class='pull-right'>{{num_searches }} result{{ num_searches|pluralize }}</p>
              {% endif %}

    <h1>{{ page_title }}{% if page_subtitle %} <small>{{ page_subtitle }}</small>{% endif %}</h1>
    <hr />
    {% endif %}

  <div id="messages-wrap">
    <div id="messages">
      {% for category, msg in get_flashed_messages(with_categories=true) %}
      <div class="flash-{{ category }} alert alert-dismissable alert-{{ category }} flash-banner">
          <p>{{ msg }}</p>
      </div>
      {% endfor %}
    </div>
  </div>{# /messages-wrap #}

    {% if not g.user and request.path == '/' %}
                <div class="jumbotron">
                <p class="lead"><strong>upvote.pub</strong> allows users to browse, submit, upvote, and discuss noteworthy papers or preprints from <a href='https://www.ncbi.nlm.nih.gov/pubmed/'>PubMed</a>, <a href='https://arxiv.org/'>arXiv</a>, <a href='https://www.biorxiv.org/'>BioRrxiv</a>, or listed with a <span data-toggle='tooltip' data-placement='bottom' title='Document Object Identifier'><a href='http://www.doi.org'>DOI</a></span>.</p>
                
                    <a class="btn btn-primary" href="{{ url_for('frontends.register') }}" role="button">Create account</a> <a class="btn btn-primary" href="{{ url_for('frontends.view_all') }}" role="button">Browse Subs</a>
                </div>
    {% elif g.user and request.path == '/' %}
    <p>The frontpage aggregates pubs from all of the <a href="{{ url_for('frontends.view_all') }}">subs</a> you are subscribed to.</p><br />
    {% endif %}



  {% block left %}
        {% from "macros.html" import render_pub %}
              <div class="spacer"></div>
              {% for thread in thread_paginator.items %}
                    {{ render_pub(thread, user, slugify) }}
              {% endfor %}

              <div class='pagination'>
                    {% if thread_paginator.has_prev %}
                        <a href="?page={{ thread_paginator.prev_num }}">prev</a>
                    {% else %}
                        <a style="opacity:0.3;">prev</a>
                    {% endif %}
                    {% if thread_paginator.has_next %}
                        <a href="?page={{ thread_paginator.next_num }}">next</a>
                    {% else %}
                        <a style="opacity:0.3;">next</a>
                    {% endif %}
              </div>
  {% endblock %}
</div>{# col-md-9 #}

<div class="col-md-3 col-sm-3">
  {% block right %}
    {% block create_buttons %}

        <form method="GET" action="/search/" class="" role="search">
            <div class="form-group">
                <input type="text" name="query" class="search form-control" 
                    placeholder="Search">
            </div>
        </form>
        {% if cur_subreddit and cur_subreddit.name and request.endpoint != 'threads.submit' %}
            <a href="{{ url_for('threads.submit', subreddit_name=cur_subreddit.name) }}">
                <button class="btn btn-primary btn-block submit-post-button">
                    submit to {{ cur_subreddit.name }}</button>
            </a>
        {% endif %} 

    {% if cur_subreddit %}
        {{ cur_subreddit.desc }}
    {% endif %}

    {% endblock %}

    <h4 class="subreddit-desc">subs <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' data-placement='bottom' title="You are subscribed to the subs below."></span></h4>
            {% for group, subreddits in subreddits|groupby('group') %}
            <strong>{{ group }}</strong>
        <ul id="sublist">

                {% for subreddit in subreddits %}
                    {% if cur_subreddit and subreddit.name == cur_subreddit.name %}
                        <li><strong><a href="{{ url_for('subreddits.permalink', subreddit_name = subreddit.name) }}">{{ subreddit.name }}</a></strong></li>
                    {% else %}
                        <li><a href="{{ url_for('subreddits.permalink', subreddit_name = subreddit.name) }}">{{ subreddit.name }}</a></li>
                    {% endif %}
                {% endfor %}
        </ul>
            {% endfor %}
  {% endblock %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

var csrf_token;
fetch_csrf = function() {
    if (typeof csrf_token != "undefined") {
        return csrf_token;
    } else {
        {# initial csrf token #}
        return '{{ csrf_token() }}'
    }
}

$(document).ready(function() {
    $(document).on('click', 'a.listing-vote-button', function() {
        var $vote_button = $(this); // cache this! can't access in callback!
        var thread_id = $vote_button.parent().parent().attr('name');
        var post_to = '/apis/threads/vote/'; 
        if ($vote_button.attr("data-voted") === "true") {
            $vote_button.css("color", "#888");
            $vote_button.attr("data-voted", "false");
        } else {
            $vote_button.css("color", "#1484e4");
            $vote_button.attr("data-voted", "true");
        }
        {% if user is defined and user != None %}
            $.post(post_to, 
                { 
                    thread_id: thread_id,
                    csrf_token: fetch_csrf()
                },
                function(response) {
                    csrf_token = response['csrf_token'];
                    var new_vote_count = response.new_votes.toString();
                    var vote_status = response.vote_status;
                    $vote_button.parent().
                        children('div.listing-votes-number').html(new_vote_count);
                }, 'json'
            );
        {% else %}
            alert("You must be logged in to do that!");
        {% endif %}
    });
    //
    //
});
</script>
{% endblock %}
