{% macro render_field(field) %}
  <!--{ field.label(class="label") }}-->
  {% if field.errors %}
  <div class="has-error">
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <label class="control-label" for="inputError1">{% for error in field.errors %}{{ error|safe|e }}</br />{% endfor %}</label>
    </div>
  {% else %}
  <div class='form_field'>
    {{ field(**kwargs) }}
  </div>
  {% endif %}
{% endmacro %}


{% macro render_pub(thread, user, slugify) %}
{% set pub = thread.publication %}
{% if g.user %}
    {% set has_downloaded = pub.has_downloaded(g.user.id) %}
{% else %}
    {% set has_downloaded = False %}
{% endif %}
<div name="{{ thread.id }}" class="row listing-row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 listing-vote-box">  

                  {% if user and thread.has_voted(user.id) %}
                      <a data-voted="true" data-id='{{ thread.id }}' style="color:#0080ff;" href="javascript:void(0)" 
                          class="listing-vote-button">▲</a>
                  {% else %}
                      <a data-voted="false" data-id='{{ thread.id }}' style="color:#888;" href="javascript:void(0)" 
                          class="listing-vote-button">▲</a>
                  {% endif %}
              <div class="listing-votes-number">
                  {{ thread.votes }}
              </div>
          </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs listing-thumbnail-box">
        <div class='pub-img {% if has_downloaded %}downloaded{% endif %}'>
            {% if pub.pub_pdf_url and pub.pub_thumbnail %}
                <a href="{{ url_for('threads.download_pdf', pub_id = pub.pub_id) }}" class="thumbnail pub_thumb" data-toggle="tooltip" data-placement="bottom" title="Download PDF">
                    <img src="https://storage.googleapis.com/pdf_thumbnails/{{ pub.pub_thumbnail }}.png"/>
                </a>
            {% elif pub.pub_pdf_url == 'searching' %}
                <div class='thumbnail pub_thumb no_pdf_thumb'>
                                <div class='no_pdf'>
                                    <span class='glyphicon glyphicon-time'></span>
                                </div>
                                <br />Looking for PDF</div>
            {% elif pub.pub_pdf_url %}
                <a href="{{ url_for('threads.download_pdf', pub_id = pub.pub_id) }}" class="thumbnail pub_thumb no_pdf_thumb" data-toggle="tooltip" data-placement="bottom" title="Download PDF">
                    <div class='no_pdf'>
                    <span class='glyphicon glyphicon-time'></span>
                    </div>
                    <br />
                    Loading<br />
                    Preview
                    
                </a>
            {% else %}
              <div class='thumbnail pub_thumb no_pdf_thumb' data-toggle="tooltip" data-placement="bottom" title="No PDF Found">
                <div class='no_pdf'>
                    <span class='glyphicon glyphicon-remove'></span>
                </div>
                <br />No PDF</div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 listing-text">
        <a href="{{ url_for('threads.thread_permalink',
                          subreddit_name = thread.subreddit.name,
                          title=slugify(pub.pub_title),
                          thread_id = thread.id) 
             }}" class="listing-title {% if has_downloaded %}downloaded{% endif %}">{{ pub.pub_title }}</a>
        <div class='pub_authors'>{{ pub.pub_authors|safe }}</div>
        <div class='pub_line'>
            {{ pub.pub_date.strftime("%Y-%m-%d") }} — <em>{{ pub.pub_journal }}</em>
        </div>


        <div class="post-listing-meta">
             Submitted {{ thread.pretty_date() }} by 
          <a href="{{ url_for('users.user_profile', 
                username=thread.user.username) }}">
                {{ thread.user.username }}</a> 
            to
            <a href="{{ url_for('subreddits.permalink', 
                subreddit_name=thread.subreddit.name) }}">
                {{ thread.subreddit.name }}
            </a>

        <div class='pub_links'>

            <a href="{{ url_for('threads.thread_permalink',
                          subreddit_name = thread.subreddit.name,
                          title=slugify(pub.pub_title),
                          thread_id = thread.id) 
             }}">{{ thread.n_comments }} Comments</a>


            {% if g.user %}
                {% if thread.has_saved(user.id) %}
                    <a href="javascript:void(0)"  data-id='{{ thread.id }}' class='listing-save-button' data-saved=true style='color: #1484e4'>saved</a>
                {% else %}
                    <a href="javascript:void(0)"  data-id='{{ thread.id }}' class='listing-save-button' data-saved=false style='color: #888'>save</a>
                {% endif %}
            {% endif %}

            {% if pub.pub_doi %}
                <small><a href='https://dx.doi.org/{{ pub.pub_doi }}' class='pub_id'>{{ pub.pub_doi }}</a></small>
            {% endif %}

            {% if pub.pub_pmid %}
                <small><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pub_pmid }}" class='pub_id'>PMID {{ pub.pub_pmid }}</a></small>
            {% endif %}

            {% if pub.pub_pmc %}
                <small><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pub_pmcid }}" class='pub_id'>PMC {{ pub.pub_pmid }}</a></small>
            {% endif %}

            {% if pub.pub_arxiv %}
                <small><a href="https://arxiv.org/abs/{{ pub.pub_arxiv }}" class='pub_id'>arXiv {{ pub.pub_arxiv }}</a></small>
            {% endif %}

            {% if pub.pub_biorxiv %}
                <small><a href="{{ pub.pub_biorxiv_url }}" class='pub_id'>bioRxiv {{ pub.pub_biorxiv }}</a></small>
            {% endif %}

            {% if pub.pub_pdf_url and pub.pub_pdf_url != 'searching' %}
            <small>{{ pub.download_count }} Downloads</small>
            {% endif %}

            {% if config.DEBUG %}
            &nbsp;&nbsp;
                <small>{{ thread.hotness }}</small>
            {% endif %}

        
        </div>

        </div>
    </div>
</div>
{% endmacro %}