{% macro render_field(field) %}
  <div class="form_field">
  <!--{ field.label(class="label") }}-->
  {% if field.errors %}
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <div class="alert alert-dismissable alert-danger">{% for error in field.errors %}<li>{{ error|safe|e }}</li>{% endfor %}</ul>
  {% else %}
    {{ field(**kwargs) }}
  {% endif %}
  </div>
{% endmacro %}


{% macro render_pub(thread, user, slugify) %}


<div name="{{ thread.id }}" class="row listing-row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 listing-vote-box">  

                  {% if user and thread.has_voted(user.id) %}
                      <a data-voted="true" style="color:#0080ff;" href="javascript:void(0)" 
                          class="listing-vote-button">▲</a>
                  {% else %}
                      <a data-voted="false" style="color:#888;" href="javascript:void(0)" 
                          class="listing-vote-button">▲</a>
                  {% endif %}
              <div class="listing-votes-number">
                  {{ thread.votes }}
              </div>
          </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs listing-thumbnail-box">
        <div class='pub-img'>
            {% if thread.pub_pdf_url and thread.thumbnail %}
                <a href="{{ thread.pub_pdf_url }}" class="thumbnail pub_thumb" data-toggle="tooltip" data-placement="bottom" title="Download PDF">
                    <img src="https://storage.googleapis.com/pdf_thumbnails/{{ thread.thumbnail }}"/>
                </a>
            {% elif thread.pub_pdf_url %}
                <a href="{{ thread.pub_pdf_url }}" class="thumbnail pub_thumb no_pdf_thumb" data-toggle="tooltip" data-placement="bottom" title="Download PDF">
                    <div class='no_pdf'>
                    <span class='glyphicon glyphicon-time'></span>
                    </div>
                    <br />
                    Loading<br />
                    Preview
                </a>
            {% else %}
              <div class='thumbnail pub_thumb no_pdf_thumb' data-toggle="tooltip" data-placement="bottom" title="No PDF Found">
                <div class='no_pdf'>
                    ?
                </div>
                <br />No PDF</div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 listing-text">
        <a href="{{ thread.pub_url }}" class="listing-title">{{ thread.pub_title }}</a>
        <div class='pub_authors'>{{ thread.pub_authors|safe }}</div>
        <div class='pub_line'>
            {{ thread.pub_date.strftime("%Y-%m-%d") }} — <em>{{ thread.pub_journal }}</em>
        </div>


        <div class="post-listing-meta">
             Submitted {{ thread.pretty_date() }} by 
          <a href="{{ url_for('users.user_profile', 
                username=thread.user.username) }}">
                {{ thread.user.username }}</a> 
            to
            <a href="{{ url_for('subreddits.permalink', 
                subreddit_name=thread.subreddit.name) }}">
                {{ thread.subreddit.name }}
            </a>

        <div class='pub_links'>

            <a href="{{ url_for('threads.thread_permalink',
                          subreddit_name = thread.subreddit.name,
                          title=slugify(thread.pub_title),
                          thread_id = thread.id) 
             }}">
                    {{ thread.comments.all()|length() }} comments</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            {#{% if thread.pub_doi %}
            <a href='https://dx.doi.org/{{ thread.pub_doi }}'>{{ thread.pub_doi }}</a>{% endif %}#}
        
        </div>

        </div>
    </div>
</div>
{% endmacro %}