{% extends "home.html" %}

{% block left %}
<div class="col-lg-10 thread-submit-box">

<strong>Rights</strong>
<ul>
    <li>Your personal data, including your voting and browsing history will not be intentionally shared with third parties.</li>
    <li>Your comments are public by design and are accessible by third parties. We will never modify the content of comments, but we may remove them.</li>
    <li>When logged in, you will not be served any third-party content (scripts, cookies, or images).</li>
</ul>
<strong>Responsibilities</strong>
<ul>
    <li>You may not make automated requests to the site for the purpose of voting or commenting. Other types of automated requests must be limited to once every thirty seconds.</li>
    <li>Posting links with the primary goal of directing traffic to outside sites, or increasing their search engine visibility, will be construed as spam and may result in account bans.</li>
    <li>You must not abuse the site by knowingly posting malicious code, or links to malicious sites, that could harm other users. If you find a security or privacy bug, please report it to admin@upvote.pub.</li>
    <li>You may not use the site to harass other users.</li>
    <li>You may not use the site to post inappropriate content which includes but is not limited to pornographic content.</li>
    <li>You may not post the personal information of users outside of their names and affiliations.</li>
    <li>Accounts consuming an unreasonable proportion of site resources, or posting harassing or innapropriate content are subject to being banned from the site.</li>
</ul>




  </div>
{% endblock %}

