{% extends "home.html" %}

{% block left %}

<strong>Threads:</strong> {{ current_user.threads.all()|length() }}</span><br />
<strong>Thread Karma:</strong> {{ current_user.get_thread_karma() }}<br />
<strong>Comments:</strong> {{ current_user.comments.all()|length() }}</span><br />
<strong>Comment Karma:</strong> {{ current_user.get_comment_karma() }}


<h4 class="profile-label">Recent submissions</h4>
{% from "macros.html" import render_pub %}
{% for thread in current_user.threads.all()[-7:]|reverse  %}
    {{ render_pub(thread, user, slugify) }}
{% endfor %}

<h4 class="profile-label">Recent comments</h4>
{% for comment in current_user.comments.all()[-7:]|reverse %}
    {{ comment.text }}</br> 
    <span class="profile-listing-inline">
    <a href="#">{{ comment.pretty_date() }}</a> in <a href='{{ url_for('threads.thread_permalink', subreddit_name=comment.thread.subreddit.name, thread_id=comment.thread.id, title=slugify(comment.thread.pub_title)) }}'>{{ comment.thread.pub_title }}</a>
    </p>
    </span>
{% endfor %}
<br>

{% endblock %}
