{% extends "home.html" %}

{% block left %}
{% from "macros.html" import render_pub %}
    {{ render_pub(thread, user, slugify) }}

{% if thread.pub_abstract %}
    <h5>Abstract</h5>
    <div class='well jax'>
        {{ thread.pub_abstract }}
    </div>
{% endif %}

<div class="thread-comment-section">
    {% if user is defined and user != None %}
    <h5>Submit a comment</h5>
    <div class="comment-form-parent">
        <textarea class="form-control thread-comment-box"></textarea>
        <input name=csrf_token type=hidden value="{{ csrf_token() }}"> 
        <small class='pull-right'>Markdown allowed</small>
        <button class="btn btn-sm btn-primary submit-comment main-submit">
                Submit</button>
    </div>
    {% else %}
    <br>
        <a href="{{ url_for('frontends.login') }}">
            Login
        </a> or 
        <a href="{{ url_for('frontends.register') }}">
            create account
        </a> to comment
    {% endif %}
</div>


<div class="row"></div>
<br>
<div>
    <h4>Comments</h4>
    <hr>
</div>

<div class="row comments-tree">
    {%- for comment in thread.get_comments() recursive %}
        <div class="comments-element" name="{{ comment.id }}"> 

        {% if g.user %}
        <div class='comment-vote'>
            <a class="{% if comment.has_voted(g.user.id) %}voted {% endif %}comment-vote-button" href="javascript:void(0)" >▲</a>
                      <div class="listing-votes-number">
                          {{ comment.votes }}
                      </div>
        </div>
        {% endif %}


            <div class="post-listing-meta">
                <a href="{{ url_for('users.user_profile', username=comment.user.username) }}">
                    <strong>{{ comment.user.username }}</strong></a> {{ comment.user.university }} - {{ comment.pretty_date() }} 
            </div>
            <p class="comment-body">{{ comment.text }}</p>
            {% if g.user %}
            <div class='comment-meta'><a href="javascript:void(0)">reply</a></div>

            <textarea class="nested-comment-text-box form-control"></textarea>
            <input name=_csrf_token type=hidden value="{{ session['_csrf_token'] }}">
            <button class="btn btn-sm btn-primary submit-comment nested-submit-comment-button">
                Submit</button>
            {% endif %}
        {%- if comment.get_comments() -%}
            {{ loop(comment.get_comments()) }}
        {%- endif %}
        </div>
    {%- endfor %}
</div>

<br>
<br>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

comment_submit = function() {
        var parent_id = "";
        var comment_text = "";
        var not_nested =  $(this).hasClass('main-submit')
        var parent_comment = $(this).parent('div.comments-element');
        if (not_nested === false) {
            {# nested #}
            parent_id = $(this).parent('div.comments-element').attr('name');
            $comment_box = $(this).parent('div.comments-element').children(
                'textarea.nested-comment-text-box')
            $button_box = $(this).parent('div.comments-element').children(
                'button.nested-submit-comment-button');
            comment_text = $comment_box.val();
            $comment_box.val('');
            $button_box.toggleClass('block');
            $comment_box.toggleClass('block');

        } else {
            {# not nested #}
            $comment_box = $(this).parent('div.comment-form-parent').children(
                'textarea.thread-comment-box');
            comment_text = $comment_box.val();
            $comment_box.val('');
        }
        
        if (comment_text == null || comment_text == '') {
            alert("Please enter a valid comment!");
            return;
        }

        var thread_id = "{{ thread.id }}";
        {% if user and user != None %}
            $.post("{{ url_for('apis.submit_comment') }}", { 
                parent_id: parent_id, // empty if top-level (none)
                thread_id: thread_id,
                comment_text: comment_text,
                csrf_token: fetch_csrf() },
                function(response) {
                    csrf_token = response['csrf_token'];

                    var write_string = 
                        '<div class="comments-element" name="'+ response.comment_id + '">' +
                        '<div class="comment-vote">' +
                        '<a style="color:#888;" href="javascript:void(0)" class="comment-vote-button">▲</a>' +
                        '<div class="listing-votes-number">1</div></div>' +
                        '<div class="post-listing-meta">' + 
                        '<a href="/users/{{ user.username }}/">' +
                        '<strong>{{ user.username }}</strong></a>' + 
                        ' ' + response.date + 
                        '</div>' +
                        '<p class="comment-body">' + response.comment_text + '</p>' + 
                        '<div class="comment-meta"><a href="javascript:void(0)">reply</a></div>' +
                        '<textarea class="nested-comment-text-box form-control"></textarea>' +
                        '<button class="btn btn-sm btn-primary submit-comment ' + 
                        'nested-submit-comment-button">Submit</button>';

                    if (not_nested) {
                        $('div.comments-tree').prepend(write_string);
                    } else {
                        $(":nth-child(8)", parent_comment).first().after(write_string);
                    }
                }, 'json'
            );              
        {% else %}
            alert("You must be logged in to do that!");
        {% endif %}
    }

comment_vote = function(e) {
        {% if user and user != None %}
        comment=$(this);
        $.post("{{ url_for('apis.vote_comment') }}", {
            comment_id: $(this).parent().parent().attr('name'),
            csrf_token: fetch_csrf()
            },
            function(response) {
                csrf_token = response['csrf_token'];
                comment.parent().children(".listing-votes-number").text(response.votes);
                comment.toggleClass('voted');
            }
        );
        {% else %}
            alert("You must be logged in to do that!")
        {% endif %}
    }

initialize = function() {
    $(document).on('click','.submit-comment', comment_submit);

    $(".comments-tree").on('click','.comment-meta a', function(e) {
        console.log(e);
        $(this).parent().parent().children('textarea.nested-comment-text-box').toggleClass('block');
        $(this).parent().parent().children('button.nested-submit-comment-button').toggleClass('block');
    });

    {# Comment voting #}
    $(".comments-tree").on('click', ".comment-vote-button", comment_vote);
}

$(document).ready(function() {
    initialize();
});
</script>
{% endblock %}
