{% extends "home.html" %}

{% block left %}
  <div class="col-lg-6 col-md-6 col-sm-6 thread-submit-box">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.pub_id, class="form-control", placeholder="DOI, PMID, PMCID, arXiv or bioRxiv") }}
    <br />
    <div class='well'>
    In order to submit to <strong>upvote.pub</strong>, you must submit a publication ID. The examples table details the IDs supported. For more information on where to find these IDs see the <a href='{{ url_for("frontends.render_markdown", page='faq') }}#where-do-i-find-pub-ids'>FAQ</a>.
    </div>
    {% if user.email_verified %}
        <button type="submit" value="Submit" class="btn btn-primary btn-block">Submit</button>
    {% else %}
        <button type="submit" value="Submit" class="btn btn-primary btn-block disabled">Please confirm your email to submit</button>
        {% endif %}
  </form>
  </div>
  <div class='col-lg-6 col-md-6 col-sm-6'>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Pub ID</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href='http://www.doi.org/' target="_blank">DOI</a></td>
            <td>Digital Object Identifier</td>
            <td>10.1056/NEJMoa1211592</td>
        </tr>
        <tr>
            <td><a href='https://www.ncbi.nlm.nih.gov/pubmed/' target="_blank">PMID</a></td>
            <td>Pubmed identifier</td>
            <td>28524281</td>
        </tr>
        <tr>
            <td><a href='https://www.ncbi.nlm.nih.gov/pubmed/' target="_blank">PMCID</a></td>
            <td>Pubmed Central identifier</td>
            <td>PMC2760059</td>
        </tr>
        <tr>
            <td><a href='https://arxiv.org/' target="_blank">arXiv</a></td>
            <td>arXiv</td>
            <td>arXiv:1712.08619</td>
        </tr>
        <tr>
            <td><a href='https://arxiv.org/' target="_blank">bioRxiv</a></td>
            <td>bioRxiv</td>
            <td>bioRxiv 238477, biorxiv:238477</td>
        </tr>
    </tbody>
</table>

</div>
{% endblock %}

