{% extends "home.html" %}

{% block left %}
  <div class="col-lg-10 thread-submit-box">
  {% from "macros.html" import render_field %}
  <form method="POST" action="." class="form bs-example form-horizontal">
    {{ form.csrf_token }}
    {{ render_field(form.pub_id, class="form-control", placeholder="DOI, Pubmed ID, Arxiv or BioArxiv") }}
    <br>
    {{ render_field(form.text, class="form-control", placeholder="body text", style="height: 150px;") }}
    <br>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock %}

